<!DOCTYPE html>
<html>
<head>
	<title>education</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../static/css/all.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/jquery.rateyo.css"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/jquery.mmenu.all.css" />
	<link rel="stylesheet" type="text/css" href="../../static/inner-page-style.css">
	<link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<body itemscope itemtype="http://schema.org/AboutPage">
	<div id="page" class="site">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:info@educationpro.com" itemprop="email"><i class="fas fa-envelope"></i> info@gciuniversitycollege.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+233 54 776 9457" itemprop="telephone"><i class="fas fa-phone"></i> +233 54 776 9457</a>
						</div>
						<div class="top-header-block">
							<a href="tel: +233 24 881 5243" itemprop="telephone"><i class="fas fa-phone"></i> +233 24 881 5243</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href="https://wa.link/p7bvdz" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							<a href="">Register</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<a href="{{url_for('home')}}"><img src="../../static/images/logo.png" alt="Logo Image" class="gci">
							<span class="gci-logo">GCI UNIVERSITY COLLEGE</span></a>
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="{{url_for('home')}}">Home</a></li>
								<li><a href="{{url_for('courses')}}">Courses</a></li>
								<li><a href="{{url_for('strategic_plan')}}">Strategic Plan</a></li>
								<li><a href="{{url_for('gallery')}}">Gallery</a></li>
								<li><a href="{{url_for('contact')}}">Register</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->


		<section class="about-upper-section" itemprop="mainContentofPage">
			<div class="container">
				<article class="who-we-are">
					<h2 class="top-heading">STRATEGIC PLAN / FORECAST</h2>
					<h2>SALES AND MARKETING</h2><br>
					<p>Our prime marketing strategy will be to lower the tuition fee in respect to competitor pricing to attract a new student, or to introduce a discount offer
					</p>

					<p>
						<ol>
							<li>Discount to be given to be all newly student enrolled students. The discount would be on a set date. [please I suggest discount is quoted in percentage].
							</li>
							<li>A fully- paid fees on the day of enrollment would attract an items from GCI.
							</li>
							<li>To increase Marketing merges by the end of the 4th quarter of the year.
								<ol>
									<li>Ten students by the end of the month.</li>
									<li>By the end of the 4th quarter we should have 120 students enroll into the institute.</li>
								</ol>
							</li>
							<li>Introduction of unique programmes, and well skilled tutors or professionals.
							</li>
							<li>Good branding.</li>
							<li>The use of current or latest IT tools.</li>
						</ol>
					</p>
				</article>
			</div>
		</section>

		<section class="about-upper-section" itemprop="mainContentofPage">
			<div class="container">
				<article class="who-we-are">
					<h2>HUMAN RESOURCES</h2><br>
					<p>To operate effectively, we need competent employees. Human resources objectives cover organizational structure and employee relations matters. They also cover the employee training and development goals of the organization. A human resources objective could be to reduce employee turnover by 20 percent by introducing a new employee assistance program. Another objective is to improve productivity by implementing a company-wide training program. The staffing of an organization is also a focus of human resources. An objective to meet staffing needs could be to actively recruit skilled tutors and professionalsinto the organization.
					</p>
				</article>
			</div>
		</section>

		<section class="about-upper-section" itemprop="mainContentofPage">
			<div class="container">
				<article class="who-we-are">
					<h2>AFFILIATION</h2><br>
					<p>The organization would have connection with international IT traininj center. By the first quarter of 2018. International Computer Driving License (ICDL).
					</p>

					<p>
						Full membership with international IT firm in five year time (2023)
						<ol>
							<li>Microsoft </li>
							<li>Oracle</li>
						</ol>
					</p>
				</article>
			</div>
		</section>

		<section class="about-upper-section" itemprop="mainContentofPage">
			<div class="container">
				<article class="who-we-are">
					<h2>ACADEMIC</h2><br>
					<p>
						<ol>
							<li>Courses and programmes to be completed within the specified durations or time frame.
							</li>
							<li>Students will be encouraged to score distinction in their respective courses.
							</li>
							<li>Students must be able to effectively apply the knowledge acquired.
							</li>
							<li>Our students must demonstrate that they understand the use of ICT, in cultural diversity and the global environment of business.
							</li>
							<li>Help students understand the impact of Technology in the global environment.</li>
							<li>Students to demonstrate the effective use of appropriate technology.
							</li>
						</ol>
					</p>
				</article>
			</div>
		</section>
		

		

		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at<a href="tel:+9779813639131"><i class="fas fa-phone"></i> +977 9813639131</a></p>
			</div>
		</section>
		<!-- End of Query Section -->
		<footer class="page-footer">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>about</h1>
						</header>
						<p>Empower your IT skills with GCI University College. Learn to build a successful online business with our expert-led courses.</p>

						<h4><a href="tel:+9779813639131"><i class="fas fa-phone"></i> +233 54 776 9457</a></h4>
						<h4><a href="mailto:info@gciuniversitycollege.com"><i class="fas fa-envelope"></i> info@gciuniversitycollege.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Tema Community 5, Opp. Tema Christian Eye Centre</a></h4>
					</div>

					<div class="box-wrap">
						<header>
							<h1>links</h1>
						</header>
						<ul>
							<li><a href="{{url_for('courses')}}">Courses</a></li>
							<li><a href="{{url_for('gallery')}}">Gallery</a></li>
							<li><a href="{{url_for('contact')}}">Contact</a></li>
							
						</ul>
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2025 &copy; gciuniversitycollege.com <span></p>
				</div>
			</div>
		</footer>
	</div>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	<script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/lightbox.js"></script>
	<script type="text/javascript" src="../../static/js/all.js"></script>
	<script type="text/javascript" src="../../static/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../../static/js/owl.carousel.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.rateyo.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.mmenu.all.js"></script>
	<script type="text/javascript" src="../../static/js/custom.js"></script>
</body>
</html>