<!DOCTYPE html>
<html>
<head>
	<title>education</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../static/css/all.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/jquery.mmenu.all.css" />
	<link rel="stylesheet" type="text/css" href="../../static/inner-page-style.css">
	<link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<body>
	<div id="page" class="site">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:info@educationpro.com" itemprop="email"><i class="fas fa-envelope"></i> info@gciuniversitycollege.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+233 54 776 9457" itemprop="telephone"><i class="fas fa-phone"></i> +233 54 776 9457</a>
						</div>
						<div class="top-header-block">
							<a href="tel: +233 24 881 5243" itemprop="telephone"><i class="fas fa-phone"></i> +233 24 881 5243</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href="https://wa.link/p7bvdz" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							<a href="">Register</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<a href="{{url_for('home')}}"><img src="../../static/images/logo.png" alt="Logo Image" class="gci">
							<span class="gci-logo">GCI UNIVERSITY COLLEGE</span></a>
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="{{url_for('home')}}">Home</a></li>
								<li><a href="{{url_for('courses')}}">Courses</a></li>
								<li><a href="{{url_for('strategic_plan')}}">Strategic Plan</a></li>
								<li><a href="{{url_for('gallery')}}">Gallery</a></li>
								<li><a href="{{url_for('contact')}}">Register</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->
		<div class="banner">
			<div class="owl-four owl-carousel">
				<img src="../../static/images/page-banner.png" alt="Image of Bannner">
				<img src="../../static/images/page-banner2.png" alt="Image of Bannner">
				<img src="../../static/images/page-banner3.png" alt="Image of Bannner">
			</div>
			<div class="container">
				<h1>welcome to education pro</h1>
				<h3>With our advance search feature you can now find the trips for you...</h3>
			</div>
			 <div id="owl-four-nav" class="owl-nav"></div>
		</div>
		<!-- <div class="banner">
		
		</div> -->
		<section class="contact-page-section">
			<div class="container">
				<div class="people-info-wrap">
					<h2>leave us your info</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</p>
					<form>
						<span>
						<input type="text" placeholder="Full Name*" class="input- name">
						<input type="email" placeholder="Email*" class="input- email">
						</span>
						<input type="text" placeholder="Subject*" class="input- subject">
						<textarea placeholder="Messages*" class="input-">
							
						</textarea>
						<input type="submit" value="submit now">
					</form>
				</div>

				<div class="contact-info">
					<h2>contact info</h2>
					<ul class="contact-list">
						<li><i class="fas fa-location-arrow"></i> 
							<span>
								<p>Gongabu, Kathmandu, Nepal</p>
							    <p>(Opposite to Aatmagyan Prachar sangh)</p>
							</span>
						</li>
						<li><i class="fas fa-phone"></i>
							<span> 
								<p>Phone: 016204888, Mobile: 9813639131</p>
								<p>Fax:7838478387</p>
							</span>
						</li>
						<li><i class="fas fa-envelope"></i>
							<span>
								<p>info@labtheme.com</p>
							</span>
						</li>
					</ul>
					<ul class="contact-social">
						<li><a href=""><i class="fab fa-viber"></i></a></li>
						<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</section>

		<section class="map-section">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d622.324399497195!2d-0.010347215747075235!3d5.645154811236263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf8756cb545da5%3A0x3a97635777690221!2sGentle%20Computer%20Institute%20%7C%20Community%205%20Branch!5e1!3m2!1sen!2sgh!4v1735913094980!5m2!1sen!2sgh" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
		</section>

		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at<a href="tel:+233547769457"><i class="fas fa-phone"></i> +233 54 776 9457</a></p>
			</div>
		</section>
		<!-- End of Query Section -->
		<footer class="page-footer">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>about</h1>
						</header>
						<p>Empower your IT skills with GCI University College. Learn to build a successful online business with our expert-led courses.</p>

						<h4><a href="tel:+9779813639131"><i class="fas fa-phone"></i> +233 54 776 9457</a></h4>
						<h4><a href="mailto:info@gciuniversitycollege.com"><i class="fas fa-envelope"></i> info@gciuniversitycollege.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Tema Community 5, Opp. Tema Christian Eye Centre</a></h4>
					</div>

					<div class="box-wrap">
						<header>
							<h1>links</h1>
						</header>
						<ul>
							<li><a href="{{url_for('courses')}}">Courses</a></li>
							<li><a href="{{url_for('gallery')}}">Gallery</a></li>
							<li><a href="{{url_for('contact')}}">Contact</a></li>
							
						</ul>
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2025 &copy; gciuniversitycollege.com <span></p>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/lightbox.js"></script>
	<script type="text/javascript" src="../../static/js/all.js"></script>
	<script type="text/javascript" src="../../static/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../../static/js/owl.carousel.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.rateyo.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.mmenu.all.js"></script>
	<script type="text/javascript" src="../../static/js/custom.js"></script>
</body>
</html>