<!DOCTYPE html>
<html>
<head>
	<title>GCI University College</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../static/css/all.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/lightbox.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/jquery.rateyo.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/jquery.mmenu.all.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/meanmenu.min.css"> -->
	<link rel="stylesheet" type="text/css" href="../../static/inner-page-style.css">
	<link rel="stylesheet" type="text/css" href="../../static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>

<body>
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:info@educationpro.com" itemprop="email"><i class="fas fa-envelope"></i> info@gciuniversitycollege.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+233 54 776 9457" itemprop="telephone"><i class="fas fa-phone"></i> +233 54 776 9457</a>
						</div>
						<div class="top-header-block">
							<a href="tel: +233 24 881 5243" itemprop="telephone"><i class="fas fa-phone"></i> +233 24 881 5243</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href="https://wa.link/p7bvdz" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>
						<div class="login-block">
							<a href="">Register</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo">
						<a href="{{url_for('home')}}"><img src="../../static/images/logo.png" alt="Logo Image" class="gci">
							<span class="gci-logo">GCI UNIVERSITY COLLEGE</span></a>
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="{{url_for('home')}}">Home</a></li>
								<li><a href="{{url_for('courses')}}">Courses</a></li>
								<li><a href="{{url_for('strategic_plan')}}">Strategic Plan</a></li>
								<li><a href="{{url_for('gallery')}}">Gallery</a></li>
								<li><a href="{{url_for('contact')}}">Register</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Close -->
		<div class="banner">
			<div class="owl-four owl-carousel" itemprop="image">
				<img src="../../static/images/page-banner.png" alt="Image of Bannner">
				<img src="../../static/images/page-banner2.png" alt="Image of Bannner">
				<img src="../../static/images/page-banner3.png" alt="Image of Bannner">
			</div>
			<div class="container" itemprop="description">
				<h1>Unlock Your Potential</h1>
				<h3>Learn with Ease, Grow with Expertise</h3> <br>
				<h2>Experience the best of IT education at GCI University College. Our expert faculty, cutting-edge curriculum, and innovative learning approach will empower you to succeed in the digital world.</h2>
			</div>
			 <div id="owl-four-nav" class="owl-nav"></div>
		</div>
		<!-- <div class="banner">
			<div class="owl-five owl-carousel owl-theme">
	            <div class="item-video">
            		<iframe width="100%" height="450" src="https://www.youtube.com/embed/ENVW3uZ3a-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            		</iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/0bfk90rWV9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/ktvTqknDobU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
            		<iframe width="100%" height="450" src="https://www.youtube.com/embed/ENVW3uZ3a-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            		</iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/0bfk90rWV9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	            <div class="item-video">
	            	<iframe width="100%" height="450" src="https://www.youtube.com/embed/ktvTqknDobU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
          </div>
		</div> -->
		<!-- Banner Close -->
		<div class="page-heading">
			<div class="container">
				<h2>popular courses</h2>
			</div>
		</div>
		<!-- Popular courses End -->
		<div class="learn-courses">
			<div class="container">
				<div class="courses">
					<div class="owl-one owl-carousel">
						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap" itemprop="image"><img src="../../static/images/course-pic.jpg" alt="courses picture"></div>
								<a href="{{url_for('courses')}}" class="learn-desining-banner" itemprop="name">Short Courses >>></a>
							<div class="box-body" itemprop="description">
								<p><strong>General Knowledge in Computing.</strong> <br>Basic Computer training, from personal computers, internet and mailings, 
									office productivity, hardware basic and storage mediums.</p>
								
								<section itemprop="time">
									<p><span>Duration:</span> 3 Months</p>
									<p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
									<p><span>Fee:</span> GH¢ 850.00</p>
								</section>
							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="../../static/images/course-pic.jpg" alt="courses picture"></div>
								<a href="{{url_for('courses')}}" class="learn-desining-banner" itemprop="name">Short Courses >>></a>
							<div class="box-body" itemprop="description">
								<p><strong>Digital Marketing.</strong> <br>Certified skills in social media marketing, mobile marketing, pay-per click,
								content marketing, affiliate marketing and search engine optimization</p>
								<section itemprop="time">
									<p><span>Duration:</span> 3 Months</p>
									<p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
									<p><span>Fee:</span> GH¢ 1,200.00</p>
								</section>
							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="../../static/images/course-pic.jpg" alt="courses picture"></div>
								<a href="{{url_for('courses')}}" class="learn-desining-banner" itemprop="name">Professional Courses >>></a>
							<div class="box-body" itemprop="description">
								<p><strong>Cyber Security.</strong> <br>Become a cyber security expert in penetration, incident manager and network security officer</p>
								<section itemprop="time">
									<p><span>Duration:</span> 6 Months</p>
									<p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
									<p><span>Fee:</span> 2,900.00</p>
								</section>
							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="img-wrap"  itemprop="image"><img src="../../static/images/course-pic.jpg" alt="courses picture"></div>
								<a href="{{url_for('courses')}}" class="learn-desining-banner" itemprop="name">Professional Courses >>></a>
							<div class="box-body" itemprop="description">
								<p><strong>Secretaryship.</strong> <br>It pays a lot to be an admnistrative assistant, touch typist and keeper of secrets.</p>
								<section itemprop="time">
									<p><span>Duration:</span> 6 Months</p>
									<p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
									<p><span>Fee:</span> 1,600.00</p>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Learn courses End -->
		<section class="whyUs-section">
			<div class="container">
				<div class="whyus-wrap">
					<h1>Vision</h1>
					<p itemprop="description">
						To be recognized as the leading IT training center across Africa.
					</p>
				</div>
			</div>
		</section>

		<section class="whyUs-section">
			<div class="container">
				<div class="whyus-wrap">
					<h1>Mission</h1>
					<p itemprop="description">
						Training people to be proficient in ICT to meet global standard.
					</p>
				</div>
			</div>
		</section>

		<section class="core-section">
			<div class="container">
				<div class="core-wrap">
					<h1>Core Values</h1>
					<p itemprop="description">
						We seek to be characterized by our passion, integrity, entrepreneurialism and our innovative spirit, as we 
						continually strive to fulfill our vision. These values guide us in all that we do and are the bedrock upon 
						which our organization is built.
					</p>
					<ol>
						<li>We focus on the needs of our students, customers and stakeholders and as well as responding to 
							the changing needs of our communities in a timely manner through our innovative spirit.
						</li>
						<li>We promote creativity, innovation, and the development of individuals, institutions and 
							corporate organizations by the use of IT.
						</li>
						<li>We have a compelling desire to improve and to win in the marketplace. </li>
						<li>We accept personal accountability to meet the business needs, improve our systems, and help 
							others improve their effectiveness through creativity, and allowing the freedom of thought and 
							creative expression.
						</li>
						<li>We operate with passion, transparency, commitment and integrity.</li>
						<li>We establish partnership with stakeholders in skills, concepts, and knowledge generation and 
							application in order to ensure that the quality of programmes/courses offered meets both local 
							and global standards.
						</li>
						<li>We recognize that profitability is essential to our future success.</li>
					</ol>
				</div>
			</div>
		</section>

		<section class="whyUs-section">
			<div class="container">
				<div class="whyus-wrap">
					<h1>QUALITY POLICY AND PROFESSIONALISM
					</h1>
					<p itemprop="description">
						GCI quality and professionalism are key in ensuring the long-term sustainability of business and the 
						institution. The following quality objectives described below are a cornerstone in ensuring high levels of 
						customer satisfaction by maintaining academic and operational excellence in the delivery of our services.
						It is therefore our commitment to:
.					</p>
					<ol>
						<li>Develop the understanding that we will never compromise with quality.</li>
						<li>Deliver relevant and world-class courses and services to meet our customers&#39; needs.
						</li>
						<li>Actively adhere to industry and customer needs and expectations.</li>
						<li>Ensure effective training of staffs in a bid to improve skills and expertise.
						</li>
						<li>Establish and maintain a level of quality which enhances the institution&#39;s reputation with clients, other organizations and our community.
						</li>
						<li>Protect GCI&#39;s intellectual property and know-how</li>
						<li>Be committed to continuous improvement to ensure that we remain competent in offering approved IT programmes and all other related services to sectors and location designated by clients.</li>
					</ol>
				</div>
			</div>
		</section>

		
		<!-- Closed WhyUs section -->
		
		<!-- beginning of gallery Images -->
		<section class="page-heading">
			<div class="container">
				<h2>gallery</h2>
			</div>
		</section>		
		
		<section class="gallery-images-section" itemprop="image" itemscope itemtype=" http://schema.org/ImageGallery">
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img1.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img2.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img3.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img4.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img5.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img5.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img6.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img6.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<video width="320" height="240" controls>
					<source src="../../static/images/gallery-img7.mp4" type="video/mp4">
					<img src="../../static/images/video-capture-0.00seg-8992.png" alt="gallery-video" />
					Your browser does not support the video tag.
				</video>
			</div>
			
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img8.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img8.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img9.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img9.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img10.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img10.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img11.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img11.jpg" alt="gallery-images">
				</a>
			</div>
			<div class="gallery-img-wrap">
				<a href="../../static/images/gallery-img12.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
					<img src="../../static/images/gallery-img12.jpg" alt="gallery-images">
				</a>
			</div>
		</section>
		<!-- End of gallery Images -->
		
		
		
		<!-- Latest News CLosed -->
		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at<a href="tel:+233547769457"><i class="fas fa-phone"></i> +233 54 776 9457</a></p>
			</div>
		</section>
		<!-- End of Query Section -->
		<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>about</h1>
						</header>
						<p>Empower your IT skills with GCI University College. Learn to build a successful online business with our expert-led courses.</p>

						<h4><a href="tel:+9779813639131"><i class="fas fa-phone"></i> +233 54 776 9457</a></h4>
						<h4><a href="mailto:info@gciuniversitycollege.com"><i class="fas fa-envelope"></i> info@gciuniversitycollege.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Tema Community 5, Opp. Tema Christian Eye Centre</a></h4>
					</div>

					<div class="box-wrap">
						<header>
							<h1>links</h1>
						</header>
						<ul>
							<li><a href="{{url_for('courses')}}">Courses</a></li>
							<li><a href="{{url_for('gallery')}}">Gallery</a></li>
							<li><a href="{{url_for('contact')}}">Contact</a></li>
							
						</ul>
					</div>

					<div class="box-wrap">
						<header>
							<h1>quick contact</h1>
						</header>
						<section class="quick-contact">
							<input type="email" name="email" placeholder="Your Email*">
							<textarea placeholder="Type your message*"></textarea>
							<button>send message</button>
						</section>
					</div>

				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p>Copyright 2025 &copy; gciuniversitycollege.com <span></p>
				</div>
			</div>
		</footer>

	</div>
	<script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/lightbox.js"></script>
	<script type="text/javascript" src="../../static/js/all.js"></script>
	<script type="text/javascript" src="../../static/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="../../static/js/owl.carousel.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.rateyo.js"></script>
	<!-- <script type="text/javascript" src="../../static/js/jquery.mmenu.all.js"></script> -->
	<!-- <script type="text/javascript" src="../../static/js/jquery.meanmenu.min.js"></script> -->
	<script type="text/javascript" src="../../static/js/custom.js"></script>
</body>
</html>